.upperContainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

.lowerContainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

@media screen and (max-width: 870px) {
    .lowerContainer {
        row-gap: 70px;
        grid-template-columns: 1fr;
    }
    .upperContainer {
        row-gap: 70px;
        grid-template-columns: 1fr;
    }
}