.container {
    padding: 10px 30px;
    border-radius: 12px;
    -webkit-box-shadow: 7px 4px 23px 0px rgba(186,186,186,1);
    -moz-box-shadow: 7px 4px 23px 0px rgba(186,186,186,1);
    box-shadow: 7px 4px 23px 0px rgba(186,186,186,1);
}
.selector__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}